<div class="card col-xs-12">
  <div class="col-sm-4 col-md-2">
    <div class="image" style="background:url('{{candidate.image}}') #9C0A0D; background-size:cover;"></div>
  </div>

  <div class="col-sm-6 col-md-7 details">
    <h3>{{candidate.name}}</h3>
    <h4>{{candidate.email}}</h4>
    {{#if user.canVote}}
      <button class="btn btn-primary" {{action "createVote"}}>Give Vote</button>
    {{/if}}

    {{#if user}}
      {{#if didUserVote}}
        <button class="btn btn-primary" {{action "removeVote"}}>Remove One Vote</button>
      {{/if}}
    {{/if}}
  </div>

  <div class="col-sm-4 col-md-3 percentage">
    <p>
      {{percentage candidate.numberOfVotes totalVotes}}%
    </p>
    <small>{{candidate.numberOfVotes}}</small>
  </div>
</div>