<div class="header col-md-12">
  <div class="col-md-8">
    {{#if user}}<h5>Logged in as {{user.email}}</h5>{{/if}}
    <h4>Welcome to the BBC Count Me Up</h4>
  </div>

  <div class="col-md-4 text-right">
    {{#if user}}{{user.votesLeft}} votes left{{/if}}
    <br>
    {{#if user}}
      <button class="btn btn-primary" {{action "logout"}}>Logout</button>
    {{else}}
      <div class="input-group">
        {{input type="email" class="form-control" value=email placeholder="Email"}}
        <span class="input-group-addon">{{fa-icon "user"}}</span>
      </div>
      <button class="btn btn-primary" {{action "login"}}>Login</button>
    {{/if}}
  </div>
  <br>
  <div class="col-md-12 sort">
    <button class="btn btn-primary" {{action "filter"}}>Filter</button>
    {{input type="date" value=startDate class="dateTime"}} to {{input type="date" value=endDate class="dateTime"}}
    <button class="btn btn-default" {{action "clearFilter"}}>Clear Filter</button>
  </div>
</div>